<div class="ui-g">
  <div class="ui-g">
    <div class="ui-g-12">
      <form #frm="ngForm" (ngSubmit)="cadastrar(frm)">
        <div class="ui-g-6 ui-sm-12 ui-fluid">
          <label>Nome:</label>
          <input pInputText name="nome" ngModel required>
        </div>
        <div class="ui-g-6 ui-sm-12 ui-fluid">
          <label>Telefone:</label>
          <p-inputMask mask="(99) 99999-9999" name="telefone" placeholder="(99) 99999-9999" ngModel required></p-inputMask>
        </div>
        <div class="ui-g-6 ui-sm-12 ui-fluid">
          <label>Endereço:</label>
          <input pInputText name="endereco" ngModel >
        </div>
        <div class="ui-g-6 ui-sm-12 ui-fluid">
          <label>E-mail:</label>
          <input type="email" pInputText name="email" ngModel  email>
        </div>
        <div class="ui-g-12">
          <button pButton type="submit" label="Cadastrar" [disabled]="frm.invalid"></button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="ui-g">
    <div class="ui-g-12">
      <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

      <p-dialog header="Editar Contato" [(visible)]="display" modal="modal" [responsive]="true">
        <form #frm="ngForm" (ngSubmit)="editar(frm)">
            <div hidden>
                <input pInputText name="id" ngModel>
                <!-- <input pInputText name="__v" ngModel> -->
            </div>
            <div class="ui-g-6 ui-sm-12 ui-fluid">
              <label>Nome:</label>
              <input pInputText name="nome" ngModel required>
            </div>
            <div class="ui-g-6 ui-sm-12 ui-fluid">
              <label>Telefone:</label>
              <p-inputMask mask="(99) 99999-9999" name="telefone" placeholder="(99) 99999-9999" ngModel required></p-inputMask>
            </div>
            <div class="ui-g-6 ui-sm-12 ui-fluid">
              <label>Endereço:</label>
              <input pInputText name="endereco" ngModel >
            </div>
            <div class="ui-g-6 ui-sm-12 ui-fluid">
              <label>E-mail:</label>
              <input type="email" pInputText name="email" ngModel  email>
            </div>
            <div class="ui-g-12">
              <button pButton type="submit" icon="fa-check" label="Salvar" [disabled]="frm.invalid"></button>
              <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancelar"></button>              
            </div>
          </form>
      </p-dialog>

      <p-dataTable #tabela [value]="contatos" [rows]="10" [paginator]="true" emptyMessage="Nenhum contato cadastrado">
        <p-column field="nome" header="Nome" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="telefone" header="Telefone"></p-column>
        <p-column field="endereco" header="Endereço"></p-column>
        <p-column field="email" header="E-mail"></p-column>
        <p-column header="Ações">
          <ng-template let-contato="rowData" pTemplate="body">
            <div class="alinhamentoCelulas">
              <button type="button" pButton (click)="remover(contato)" icon="fa-trash"></button>
              <button type="button" pButton (click)="mostrarDialog(contato, frm)" icon="fa-pencil"></button>
              <button
                *ngIf="contato.favorito; else elseBlock"
                type="button" pButton (click)="setaFavorito(contato)" icon="fa-star"></button>
              <ng-template #elseBlock>
                <button type="button" pButton (click)="setaFavorito(contato)" icon="fa-star-o"></button>                          
              </ng-template>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="Exportar para CSV" (click)="tabela.exportCSV()"></button>
      <button type="button" pButton icon="fa-star" iconPos="left" label="Exibir Favoritos" (click)="mostraFavoritos()"></button>      
    </div>
  </div>
</div>